<div>
  <app-search (searchTextChanged)="onSearchTextInput($event)"></app-search>
  <app-filter
    [total]="getTotalAllCourses()"
    [free]="getTotalFreeCourses()"
    [premium]="getTotalPremiumCourses()"
    (filterRadiaButtonSelectionChanged)="onFilterRadioButtonChanged($event)"
  ></app-filter>
</div>
<!-- courseCountRadioButton === 'All' || course.type === courseCountRadioButton -->
<ng-container *ngFor="let course of courses">
  <div
    class="course-container"
    *ngIf="
      searchTextData === '' ||
      course.name.toLowerCase().includes(searchTextData)
    "
  >
    <div class="course-card">
      <div>
        <img [src]="course.image" style="width: 230px; height: 140px" />
      </div>
      <div class="course-name">
        <h4>{{ course.name }}</h4>
      </div>
      <div class="course-description">
        <p>{{ course.description.slice(0, 80) }}...</p>
      </div>
      <div class="details">
        <div
          class="course-type"
          [ngStyle]="{ color: course.type === 'Free' ? 'Green' : 'Red' }"
        >
          {{ course.type }}
        </div>
        <div class="course-price"><b>Price:</b> ${{ course.price }}</div>
      </div>
      <div>Rating: {{ course.ratings }}</div>
      <div class="course-buttons">
        <button class="btn btn-buy">Buy Now</button>
        <button class="btn btn-show">Show Deatils</button>
      </div>
    </div>
  </div>
</ng-container>
